.bg-smile {
    background-color: rgb(18 102 241);
}
.bg-cry {
    background-color: rgb(178 60 253);
}
.bg-think {
    background-color: rgb(0 183 74);
}
.bg-sleep {
    background-color: rgb(255 169 0);
}
.bgdream {
    background-color: rgb(57 192 237);
}