{{ form_start( form, { attr: {novalidate: 'novalidate'} } ) }}
{# form_widget() Génère tous les champs du form #}
{{ form_widget(form) }}
<button type="submit" class="btn btn-success mb-3">Enregistrer le film</button>
{{ form_end(form) }}
