<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - HelloCiné</title>
    </head>
    <body>
        <header>
            <h1>HelloCiné</h1>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p>HelloCiné &copy; 2021</p>
        </footer>
    </body>
</html>
