{% extends "base.html.twig" %}

{# On "injecte" la nav dans le parent #}
{% block subnav %}
	<nav>
		<a href="">Utilisateurs</a>
		<a href="">Films</a>
		<a href="">Métiers</a>
	</nav>
{% endblock %}
