{% extends "base.html.twig" %}

{# On "injecte" la nav dans le parent #}
{% block subnav %}
	<nav>
	 	<a href="{{ path('back_user_index') }}">Utilisateurs</a>
    	<a href="{{ path('back_movie_browse') }}">Films</a>
    	<a href="">Métiers</a>
	</nav>
{% endblock %}
